/target/
*.log
*.iml
/.idea/
/.mvn/
.DS_Store
Thumbs.db
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.log
.classpath
.project
.settings/
src/main/resources/application.properties