[defaults]
inventory = inventory/
playbook_dir = playbooks/
roles_path = roles/

remote_user = compute-vm-2-2-10-hdd-1739977927860

inventory_plugins = inventory/plugins/
enable_plugins = yacloud_compute